{
  "extends": ["airbnb", "prettier"],
  "env": {
    "node": true,
    "es2022": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module"
  },
  "globals": {
    "afterAll": "readonly",
    "afterEach": "readonly",
    "beforeAll": "readonly",
    "beforeEach": "readonly",
    "describe": "readonly",
    "expect": "readonly",
    "fit": "readonly",
    "it": "readonly",
    "xit": "readonly",
    "jest": "readonly"
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "rules": {
    "import/no-unresolved": "error",
    "import/extensions": ["error", "ignorePackages"],
    "no-console": "off"
  }
}
